:root {
    /* Colors */
    --blue: #0228A0;
    --white: #F7F9FE;
    --black: #0B0C10;
    /* Sizes */
}
  
html,
body {
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}

/* Globals */
.container {
    max-width: 1160px;
    margin: auto;
    position: relative;
    padding: 0 20px
}
.lines {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.lines__line {
    border-left: 1px solid #C5CEE0;
}

.section-heading {
    margin: 0 30px 50px 30px;
}
.section-heading__title {
    font-size: 2.250rem;
    margin: 0;
}

.section-heading__subtitle {
    font-size: 1.25rem;
}

.section-heading__label {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
}
/* Hero */
.header-logo {
    padding: 30px 0;
}

.hero {
    background: url(../img/hero-img.png) right top no-repeat;
    padding-bottom: 80px;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.hero-text img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-form {
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 40px;
    width: 460px;
    max-width: 100%;
}

.hero-text__title {
    font-size: 3rem;
    margin: 0;
}

.hero-text__title span {
    color: var(--blue);
}

.hero-text__subtitle {
    font-size: 1.250rem;
}

.hero-form__title {
    font-size: 1.125rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
}
.hero-form__title span {
    color: var(--blue);
}

.hero-form__input {
    padding: 12px;
    border: 1px solid #C4CDE1;
    border-radius: 5px;
    display: block;
    margin-bottom: 30px;
    width: 380px;
    max-width: 100%;
}

.hero-form__button {
    display: block;
    width: 380px;
    max-width: 100%;
    padding: 15px;
    border: 0;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}

/* Differentials */
.differentials {
    background-color: var(--blue);
    color: var(--white)
}

.differentials-content {
    padding: 120px 0 80px 0;
    position: relative;
    z-index: 1;
}

.differentials-list__item {
    list-style: none;
    background: url(../img/check-icon.svg) left center no-repeat;
    padding-left: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Features */
.features {
    padding: 120px 0;
}

.features-cards {
    display: flex;
}
.feature-card:not(:last-child) {
    margin-right: 30px;
}
.feature-card {
    border: 2px solid #E4E9F2;
    padding: 70px 30px;
    border-radius: 10px;
}

/* Plans */
.plans {
    background-color: #FFFFFF;
    
}

.plans-content {
    padding: 120px 0;
    position: relative;
    z-index: 1;
}

.plans-cards {
    display: flex;
    position: r;
}

.plan-card {
    padding: 0 50px;
    position: relative;
}



.plan-card:before {
    content: "";
    height: 60px;
    border-left: 1px solid #000;
    position: absolute;
    left: 0;
}

.plan-card--green:before {
    border-color: #73C886;
}

.plan-card--blue:before {
    border-color: #958AFF;
}

.plan-card--orange:before {
    border-color: #EAB000;
}

.plan-card__header {
    overflow: hidden;
}

.plan-card__image {
    float: left;
    margin-right: 20px;
}

.plan_card__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.plan-card__tag {
    font-size: 0.625rem;
    padding: 6px 8px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.plan-card__tag--green {
    background: #28A745;
}

.plan-card__tag--blue {
    background: #0055C7;
}

.plan-card__tag--orange {
    background: #EAB000;
}

.plan-card__excerpt {
    color: #5F6879;
    font-size: 1.125rem;
}

.plan-card__price {
    border-top: 1px solid #C5CEE0;
    border-bottom: 1px solid #C5CEE0;
    padding: 15px 0;;
}

.plan-card__price del {
    display: block;
    font-size: 1rem;
    color: #7E8AA4;
}

.plan-card__price ins {
    display: block;
    font-size: 2.250rem;
    text-decoration: none;
    font-weight: bold;
    color: #333A46;
}

.plan-card__price ins small {
    font-size: .750rem;
}

.plan-card__footer {
    text-transform: uppercase;
    color: #5F6879;
}
/* FAQ */
.faq {
    padding: 120px 0;
}
.faq .section-heading {
    text-align: center;
}
.faq-list {
    counter-reset: section;
    /* padding: 0; */
}

.faq-list__item {
    list-style: none;
    padding: 30px 30px 30px 50px;
    position: relative;
}

.faq-list__item:not(:last-child) {
    border-bottom: 1px solid #E4E9F2;
}

.faq-list__item:before {
    counter-increment: section;
    content: counters(section,".") " ";
    display: block;
    float: left;
    height: 21px;
    width: 21px;
    border: 2px solid #73C886;
    border-radius: 15px;
    text-align: center;
    line-height: 21px;
    color: #73C886;
    font-size: .875rem;
    position: absolute;
    left: 0
}

.faq-list__answer {
    height: 0;
    display: none;
    transition: all .2s linear;
}

.faq-list__item.expanded > .faq-list__answer {
    height: auto;
    display: block;
    transition: all .2s linear;
}

.faq-list__question {
    font-size: 1rem;
    color: #1E232C;
    cursor: pointer;
    min-height: 25px;
    line-height: 25px;
    margin: 0;
}

/* Footer */

.footer {
    background-color: #FFFFFF;
    padding: 1rem 0;
}

.footer-information {
    border-bottom: 1px solid #E4E9F2;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.information__text {
    font-size: .75rem;
}

.copyright__text,
.footer-menu {
    font-size: .625rem;
}

.footer-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.footer-menu__item {
    font-weight: bold;
    padding: 3px;
}
.footer-menu__item a {
    text-decoration: none;
    color: #1E232C;
}
.footer-menu__item:not(:last-child):after {
    content: "";
    border-right: 1px solid;
    margin-left: 6px;
}

/* MEDIAS */
@media only screen and (min-width:320px) and (max-width:801px) {
    .header-logo,
    .hero-text {
        text-align: center;
    }
}

@media (min-width:320px) {
    

    .copyright__text {
        margin-bottom: 1rem;
    }
}

@media (min-width:1025px) {
    .hero-content__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero-text {
        max-width: 40%;
    }
    .footer-copyright {
        display: flex;
        justify-content: space-between;
    }

    .differentials {
        margin-top: -150px;
    }

    .differentials-content {
        width: 40%;
    }

    .features .section-heading {
        padding-right: 50%;
        background: url(../img/dots-features.svg) right center no-repeat;
    }

    .plans .section-heading {
        padding-right: 50%;
        background: url(../img/waves-plans.svg) right center no-repeat;
    }
    
}